:root {
    --grey:  #D9D9D9;
    --dark-grey:  #161616;
}

body {
    background-color: var(--dark-grey);
    color: var(--grey);
}

.conversation {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.message {
    max-width: 90%;
    list-style-type: none;  
    padding: 4px 0;
}

.message > .card {
    border-radius: 10px 10px 10px 0;
}

.message.outgoing {
    margin-left: auto;
}

.message.outgoing > .card {
    border-radius: 10px 10px 0 10px;
}

.card-body {
    padding: 8px 12px;
}

.message.narrator {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-style: italic;
}

.message.narrator > .card {
    border-radius: 10px;
}