:root {
    --grey:  #D9D9D9;
    --dark-grey:  #161616;
}

body {
    background-color: var(--dark-grey);
    color: var(--grey);
}

.container {
    /* border: 1px solid red; */
}

.conversation {
    /* overflow-y: scroll; */
    max-height: 85vh;
    transition: height 400ms;
}

.message {
    max-width: 90%;
    list-style-type: none;  
    padding: 4px 0;
}

.message > .card {
    border-radius: 10px 10px 10px 0;
}

.outgoing {
    margin-left: auto;
}

.outgoing > .card {
    border-radius: 10px 10px 0 10px;
}

.card-body {
    padding: 8px 12px;
}

.narrator {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-style: italic;
}

.narrator > .card {
    border-radius: 10px;
}

.option {
    font-style: italic;
    cursor: pointer;
    opacity: 75%;
    transition: opacity 400ms ease;
}

.option:hover,
.option:focus {
    opacity: 100%;
}